h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: #33817c;
}

a:hover {
  color: #163836;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.container {
  width: 1200px;
  padding: 0 2em;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.grid {
  display: block;
  padding: 0;
  margin: 0 -5px;
  margin-bottom: -5px;
  font-size: 0;
}

.grid .grid [class*=col-] {
  margin-bottom: 0;
}

.grid .col-1 {
  font-size: 1rem;
  display: inline-block;
  width: 8.3333333333%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-2 {
  font-size: 1rem;
  display: inline-block;
  width: 16.6666666667%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-3 {
  font-size: 1rem;
  display: inline-block;
  width: 25%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-4 {
  font-size: 1rem;
  display: inline-block;
  width: 33.3333333333%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-5 {
  font-size: 1rem;
  display: inline-block;
  width: 41.6666666667%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-6 {
  font-size: 1rem;
  display: inline-block;
  width: 50%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-7 {
  font-size: 1rem;
  display: inline-block;
  width: 58.3333333333%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-8 {
  font-size: 1rem;
  display: inline-block;
  width: 66.6666666667%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-9 {
  font-size: 1rem;
  display: inline-block;
  width: 75%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-10 {
  font-size: 1rem;
  display: inline-block;
  width: 83.3333333333%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-11 {
  font-size: 1rem;
  display: inline-block;
  width: 91.6666666667%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-12 {
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid.left {
  text-align: left;
}

.grid.center {
  text-align: center;
}

.grid.right {
  text-align: right;
}

input,
select {
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05) inset;
  border-radius: .2em;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.4;
  vertical-align: middle;
  outline: 0;
}

input.input-mini {
  padding: 3px 6px 2px;
}

input:focus,
select:focus {
  border-color: #81ccc8;
  box-shadow: 0 0 4px #a5dbd8;
  z-index: 10;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

fieldset + fieldset {
  margin-top: 1em;
}

.form-horizontal .control-group label {
  text-align: right;
  width: 12em;
  margin-right: 1em;
  vertical-align: middle;
  display: inline-block;
}

.form-horizontal .control-group label + .controls {
  position: absolute;
}

.form-horizontal .control-group .controls {
  margin-left: 12em;
  padding-left: 1.3em;
}

.form-horizontal .control-group .btn-group {
  display: inline-block;
  vertical-align: middle;
}

.form-horizontal .control-group + .control-group {
  margin-top: 1em;
}

.form-actions {
  text-align: right;
}

.hide {
  display: none !important;
  visibility: hidden !important;
}

.sticky {
  position: sticky;
  top: 0;
}

.btn {
  position: relative;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: .2em;
  font-size: 13px;
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #2d2d2d;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  padding: 5px 10px;
  background-size: 100% 210%;
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, white, #cccccc);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px #fff;
  transition: ease-in-out 0.1s background-position;
}

.btn:hover {
  background-position: 100% 50%;
}

.btn:focus,
.btn:active,
.btn.active {
  border-color: #81ccc8;
  box-shadow: 0 0 4px #a5dbd8;
  outline: none;
  z-index: 10;
}

.btn:active,
.btn.active {
  border-color: #a6a6a6;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  background-image: none;
}

.btn:disabled,
.btn.disabled {
  cursor: default;
  box-shadow: none;
  background-image: none;
  text-shadow: none;
  border-color: #e6e6e6;
  color: rgba(45, 45, 45, 0.3);
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn-primary {
  color: #fff;
  background-color: #8f963f;
  border-color: #7e8437;
  background-image: linear-gradient(to bottom, #afb651, #6d7230);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.15);
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  border-color: #6d7230;
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: #fff;
  border-color: #6d7230;
  opacity: .6;
}

.btn-danger {
  color: #bd1b1f;
}

.btn-danger:active,
.btn-danger.active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.35);
}

.btn-danger:not(:disabled):hover,
.btn-danger:not(.disabled):hover {
  color: #fff;
  background-color: #bd1b1f;
  border-color: #a7181b;
  background-image: linear-gradient(to bottom, #e12a2f, #901518);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.15);
}

.btn-danger:disabled,
.btn-danger.disabled {
  box-shadow: none;
}

.btn-group {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.btn-group .btn {
  font-size: 13px;
  display: inline-block;
}

.btn-group .btn + .btn,
.btn-group .btn-group + .btn-group,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.btn-group > .btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group + .btn-group {
  margin-left: 5px;
}

.btn-mini {
  font-size: 12px;
  padding: 3px 6px 2px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 1em;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #2d2d2d;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}

.open > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  background-clip: padding-box;
  min-width: 160px;
  margin-top: 1px;
  float: left;
  padding: 5px 0;
  font-size: 13px;
  z-index: 120;
}

.dropdown-menu a {
  display: block;
  overflow: hidden;
  padding: 0.3em 10px;
  color: #2d2d2d;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background-color: #dcf1f0;
  color: #000;
}

.dropdown-menu .divider {
  background-color: #e6e6e6;
  height: 1px;
  margin: 10px 0;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 110;
}

.navbar {
  overflow: visible;
  background-color: #2d2d2d;
  background-image: linear-gradient(to bottom, #464646, #131313);
  border-top: 5px solid #a5dbd8;
  height: 45px;
}

.navbar.fixed {
  position: sticky;
}

.navbar a {
  text-decoration: none;
}

.navbar-header {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  display: inline-block;
  float: left;
  margin-right: 1em;
}

.navbar-header a {
  color: #a5dbd8;
}

.navbar .nav {
  display: inline-block;
  float: left;
}

.navbar .nav .caret {
  border-top-color: #a6a6a6;
}

.navbar .nav li {
  display: inline-block;
  float: left;
}

.navbar .nav li a {
  color: #a6a6a6;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 1em;
  font-size: 14px;
}

.navbar .nav li a:hover {
  color: #fff;
}

.tabs {
  border-bottom: 1px solid #e6e6e6;
  margin-top: 1em;
  margin-bottom: 1em;
}

.tabs li {
  display: inline-block;
}

.tabs a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #a6a6a6;
  height: 2;
  line-height: 2;
  padding-left: .6em;
  padding-right: .6em;
  transition: color ease-in-out 0.15s;
}

.tabs a:hover {
  color: #2d2d2d;
}

.tabs a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  border-bottom: 5px solid #a5dbd8;
  transform: scaleY(0);
  transition: transform ease-in-out 0.15s;
  transform-origin: 0 100%;
}

.tabs .active a {
  color: #2d2d2d;
}

.tabs .active a:before {
  transform: scaleY(1);
}

/*# sourceMappingURL=global.css.map */