h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: #33817c;
}

a:hover {
  color: #163836;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.container {
  width: 84em;
  padding: 0 2em;
  margin: 0 auto;
}

@media (max-width: 84em) {
  width: 100%;
}

.grid {
  display: block;
  padding: 0;
  margin: 0 -5px;
  margin-bottom: -5px;
  font-size: 0;
}

.grid .grid [class*=col-] {
  margin-bottom: 0;
}

.grid .col-1 {
  font-size: 1rem;
  display: inline-block;
  width: 8.3333333333%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-2 {
  font-size: 1rem;
  display: inline-block;
  width: 16.6666666667%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-3 {
  font-size: 1rem;
  display: inline-block;
  width: 25%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-4 {
  font-size: 1rem;
  display: inline-block;
  width: 33.3333333333%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-5 {
  font-size: 1rem;
  display: inline-block;
  width: 41.6666666667%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-6 {
  font-size: 1rem;
  display: inline-block;
  width: 50%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-7 {
  font-size: 1rem;
  display: inline-block;
  width: 58.3333333333%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-8 {
  font-size: 1rem;
  display: inline-block;
  width: 66.6666666667%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-9 {
  font-size: 1rem;
  display: inline-block;
  width: 75%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-10 {
  font-size: 1rem;
  display: inline-block;
  width: 83.3333333333%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-11 {
  font-size: 1rem;
  display: inline-block;
  width: 91.6666666667%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid .col-12 {
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
}

.grid.left {
  text-align: left;
}

.grid.center {
  text-align: center;
}

.grid.right {
  text-align: right;
}

input,
select {
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05) inset;
  border-radius: .2em;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.4;
  vertical-align: middle;
  outline: 0;
}

input.input-mini {
  padding: 3px 6px 2px;
}

input:focus,
select:focus {
  border-color: #81ccc8;
  box-shadow: 0 0 4px #a5dbd8;
  z-index: 10;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

fieldset + fieldset {
  margin-top: 1em;
}

.form-horizontal .control-group label {
  text-align: right;
  width: 12em;
  margin-right: 1em;
  vertical-align: middle;
  display: inline-block;
}

.form-horizontal .control-group label + .controls {
  position: absolute;
}

.form-horizontal .control-group .controls {
  margin-left: 12em;
  padding-left: 1.3em;
}

.form-horizontal .control-group .btn-group {
  display: inline-block;
  vertical-align: middle;
}

.form-horizontal .control-group + .control-group {
  margin-top: 1em;
}

.form-actions {
  text-align: right;
}

.hide {
  display: none !important;
  visibility: hidden !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.btn {
  position: relative;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: .2em;
  font-size: 13px;
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #2d2d2d;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  padding: 5px 10px;
  background-size: 100% 210%;
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, white, #cccccc);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px #fff;
  transition: ease-in-out 0.1s background-position;
}

.btn:hover {
  background-position: 100% 50%;
}

.btn:focus,
.btn:active,
.btn.active {
  border-color: #81ccc8;
  box-shadow: 0 0 4px #a5dbd8;
  outline: none;
  z-index: 10;
}

.btn:active,
.btn.active {
  border-color: #a6a6a6;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  background-image: none;
}

.btn:disabled,
.btn.disabled {
  cursor: default;
  box-shadow: none;
  background-image: none;
  text-shadow: none;
  border-color: #e6e6e6;
  color: rgba(45, 45, 45, 0.3);
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn-primary {
  color: #fff;
  background-color: #8f963f;
  border-color: #7e8437;
  background-image: linear-gradient(to bottom, #afb651, #6d7230);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.15);
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  border-color: #6d7230;
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: #fff;
  border-color: #6d7230;
  opacity: .6;
}

.btn-danger {
  color: #bd1b1f;
}

.btn-danger:active,
.btn-danger.active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.35);
}

.btn-danger:not(:disabled):hover,
.btn-danger:not(.disabled):hover {
  color: #fff;
  background-color: #bd1b1f;
  border-color: #a7181b;
  background-image: linear-gradient(to bottom, #e12a2f, #901518);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.15);
}

.btn-danger:disabled,
.btn-danger.disabled {
  box-shadow: none;
}

.btn-group {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.btn-group .btn {
  font-size: 13px;
  display: inline-block;
}

.btn-group .btn + .btn,
.btn-group .btn-group + .btn-group,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.btn-group > .btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group + .btn-group {
  margin-left: 5px;
}

.btn-mini {
  font-size: 12px;
  padding: 3px 6px 2px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 1em;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #2d2d2d;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}

.open > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  background-clip: padding-box;
  min-width: 160px;
  margin-top: 1px;
  float: left;
  padding: 5px 0;
  font-size: 13px;
  z-index: 120;
}

.dropdown-menu a {
  display: block;
  overflow: hidden;
  padding: 0.3em 10px;
  color: #2d2d2d;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background-color: #dcf1f0;
  color: #000;
}

.dropdown-menu .divider {
  background-color: #e6e6e6;
  height: 1px;
  margin: 10px 0;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 110;
}

.navbar {
  overflow: visible;
  background-color: #2d2d2d;
  background-image: linear-gradient(to bottom, #464646, #131313);
  border-top: 5px solid #a5dbd8;
  height: 45px;
}

.navbar.fixed {
  position: -webkit-sticky;
  position: sticky;
}

.navbar a {
  text-decoration: none;
}

.navbar-header {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  display: inline-block;
  float: left;
  margin-right: 1em;
  margin-left: 1em;
}

.navbar-header a {
  color: #a5dbd8;
}

.navbar .nav {
  display: inline-block;
  float: left;
}

.navbar .nav .caret {
  border-top-color: #a6a6a6;
}

.navbar .nav li {
  display: inline-block;
  float: left;
}

.navbar .nav li a {
  color: #a6a6a6;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 1em;
  font-size: 14px;
}

.navbar .nav li a:hover {
  color: #fff;
}

.tabs {
  border-bottom: 1px solid #e6e6e6;
  margin-top: 1em;
  margin-bottom: 1em;
}

.tabs li {
  display: inline-block;
}

.tabs a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #a6a6a6;
  height: 2;
  line-height: 2;
  padding-left: .6em;
  padding-right: .6em;
  transition: color ease-in-out 0.15s;
}

.tabs a:hover {
  color: #2d2d2d;
}

.tabs a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  border-bottom: 5px solid #a5dbd8;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  transition: -webkit-transform ease-in-out 0.15s;
  transition: transform ease-in-out 0.15s;
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.tabs .active a {
  color: #2d2d2d;
}

.tabs .active a:before {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.docs-nav {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.docs-nav img {
  max-height: 2em;
  float: left;
  margin-top: .6em;
  margin-right: 2em;
}

.docs-nav ul {
  list-style-type: none;
}

.docs-nav li {
  float: left;
}

.docs-nav li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 1em;
}

.docs-nav a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.05);
}

.section-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.section-nav li {
  margin-bottom: .3em;
  list-style-type: none;
}

.section-nav ul {
  margin-top: .3em;
}

.section-nav li li {
  font-size: .9em;
}

.section-nav a {
  text-decoration: none;
  color: #33817c;
}

.section-nav a:hover {
  text-decoration: underline;
}

ul.section-nav {
  padding-left: 0;
}

code {
  font-family: "Lucida Sans Typewriter", "Lucide Console", monospace;
  background-color: #e1f3f2;
  border: 1px solid #c9eae8;
  color: #255c59;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 12px;
}

.example {
  border: 1px solid #e6e6e6;
  padding: 1em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.example + pre {
  margin-top: 0;
}

.example + pre code {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

pre > code {
  display: block;
  overflow-y: auto;
  background-color: #f6f6f6;
  border: 1px solid #e6e6e6;
  padding: 1em;
  font-size: 12px;
  line-height: 1.6;
}

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .lang-html .doctype,
pre .lang-css .pseudo {
  color: #c82829;
}

pre .lang-css .id,
pre .lang-css .class {
  color: #3da12b;
}

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}

pre .string,
pre .inheritance,
pre .header {
  color: #718c00;
}

pre .value {
  color: #333;
}

pre .comment {
  color: #999;
}

pre .lang-css .hexcolor {
  color: #3e999f;
}

pre .function,
pre .lang-javascript .title,
pre .lang-coffeescript .title {
  color: #4271ae;
}

pre .keyword,
pre .lang-javascript .function {
  color: #8959a8;
}

section > h2 {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px;
  margin-bottom: 1em;
  margin-top: 1.5em;
}

section > h3 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.contentainer * > :first-child {
  margin-top: 0;
}

.content {
  padding-bottom: 2em;
  padding-top: 2em;
  position: relative;
}

.content > aside {
  padding: 2em 0;
  width: 16em;
  position: absolute;
  top: 0;
  bottom: 0;
}

.content > aside + section {
  margin-left: 18em;
}

.content aside ul {
  padding-left: 1.5em;
}

.content .heading {
  font-size: 2em;
  padding: 2em;
  margin-top: -1em;
  margin-left: -2em;
  margin-right: -2em;
  margin-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.05);
}

.content .heading p {
  font-size: .5em;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 0;
}

.red-velvet {
  background-color: #ee264e;
}

.cotton-candy {
  background-color: #a5dbd8;
}

.banana-pudding {
  background-color: #efad1c;
}

.key-lime {
  background-color: #b3ba5a;
}

.gray-50 {
  background-color: #f6f6f6;
}

.gray-100 {
  background-color: #e6e6e6;
}

.gray-300 {
  background-color: #a6a6a6;
}

.gray-500 {
  background-color: #6d6d6d;
}

.gray-700 {
  background-color: #545454;
}

.gray-900 {
  background-color: #2d2d2d;
}

blockquote {
  margin-left: .5em;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.65);
  border-left: 5px solid rgba(0, 0, 0, 0.1);
}

.page-header {
  color: #fff;
  padding: 8em 0 4em;
}

.page-header h1 {
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
}

section > :first-child {
  margin-top: 0;
  padding-top: 0;
}

.good, .bad {
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 1em;
}

.good:first-child, .bad:first-child {
  margin-top: 0;
}

.good [class*=icon-], .bad [class*=icon-] {
  color: #fff;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 1em;
  line-height: 20px;
  text-align: center;
  margin-right: .2em;
}

.good {
  color: #989f42;
}

.good [class*=icon-] {
  background-color: #b3ba5a;
}

.bad {
  color: #ee264e;
}

.bad [class*=icon-] {
  background-color: #ee264e;
}

ul.colors {
  display: block;
  padding: 0;
  margin: 0 -5px;
  margin-bottom: -5px;
  font-size: 0;
}

.swatch {
  font-size: 1rem;
  display: inline-block;
  width: 25%;
  padding: 0 5px;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: left;
  color: #fff;
  font-weight: 100;
}

.swatch h3 {
  margin-top: 0;
  font-size: 1.5em;
}

.swatch .details {
  padding: 1em;
  position: relative;
  overflow: hidden;
}

.swatch dl {
  margin-top: 1em;
  margin-bottom: 0;
}

.swatch dl.hex {
  float: left;
}

.swatch dl.rgb {
  float: right;
}

.swatch dt {
  opacity: .6;
  font-size: .8em;
}

.swatch dd {
  margin-left: 0;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.swatch-list {
  list-style-type: none;
}

.swatch-list li {
  padding: 0.5em 1em;
}

.swatch-list em {
  font-style: normal;
  opacity: .6;
  font-size: .8em;
}

.swatch-list .gray-500,
.swatch-list .gray-700,
.swatch-list .gray-900 {
  color: #fff;
}

.example .grid [class*=col-] {
  background-color: #d4d8a2;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
}

.box {
  height: 2em;
  background-color: #e6e6e6;
  border-radius: 4px;
  text-align: center;
  line-height: 2em;
}

footer {
  margin-top: 4em;
  border-top: 1px solid #e6e6e6;
  padding: 2em 0;
  color: #6d6d6d;
}

footer strong {
  color: #000;
}

@media (max-width: 73em) {
  .swatch {
    width: 100%;
    display: block;
    float: none;
    height: 10em;
  }
}
/*# sourceMappingURL=styleguide.css.map */