html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-size: $base-font-size;
}

body {
  padding: 0;
  margin: 0;
  line-height: $base-line-height;
  font-family: $base-font-family;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: darken($cotton-candy, 40%);
  &:hover {
    color: darken($cotton-candy, 60%);
  }
}

.cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}