$input-focus-color: $cotton-candy !default;
$form-horizontal-breakpoint: 600px !default;

// Forms
// ----------------------------------------------

input,
select {
  border: 1px solid $gray-100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .05) inset;
  border-radius: .2em;
  padding: 5px 10px;
  font-size: 13px;
  line-height: $base-line-height;
  vertical-align: middle;
  outline: 0;
}

input.input-large {
  font-size: 18px;
}

input.input-mini {
  padding: 3px 6px 2px;
}

input:focus,
select:focus {
  border-color: darken($input-focus-color, 10%);
  box-shadow: 0 0 4px $input-focus-color;
  z-index: z-index('input-focus');
}

form label {
  color: $gray-700;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

fieldset + fieldset {
  margin-top: 1em;
}

fieldset legend {
  border-bottom: 1px solid $gray-100;
  color: $gray-500;
  font-weight: 100;
  display: block;
  width: 100%;
  @extend %h5;
  margin-bottom: 1em;
}

// Form layouts
.form-horizontal .control-group {

  label {
    text-align: right;
    width: 9em;
    margin-right: 1em;
    float: left;
    padding: 5px 0;
    vertical-align: middle;
    display: inline-block;
  }

  .controls {
    margin-left: 10em;
  }

  .btn-group {
    display: inline-block;
    vertical-align: middle;
  }

  + .control-group {
    margin-top: 1em;
    clear: left;
  }

}

.form-actions {
  text-align: right;
}

@media (max-width: $form-horizontal-breakpoint) {

  .form-horizontal .control-group {

    label {
      display: block;
      float: none;
      width: auto;
      padding-bottom: 2px;
      text-align: left;
    }

    .controls {
      margin-left: 0;
    }

  }

}