$input-focus-color: $cotton-candy !default;
$input-large-font-size: 18px !default;
$input-font-size: 13px !default;
$input-mini-font-size: 12px !default;
$form-horizontal-breakpoint: 600px !default;

// Forms
// ----------------------------------------------

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
input[type=url],
input[type=date],
input[type=search],
input[type=datetime],
input[type=time],
input[type=date],
select,
textarea {
  border: 1px solid $gray-100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .05) inset;
  border-radius: .2em;
  padding: 5px 10px;
  font-size: $input-font-size;
  line-height: $base-line-height;
  height: 32px;
  vertical-align: middle;
  outline: 0;
  position: relative;
}

textarea {
  height: auto;
}

// Standardize select appearance
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 25px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUAQMAAACHy55vAAAABlBMVEUAAAAtLS3wB2rmAAAAAXRSTlMAQObYZgAAAC5JREFUCNdjYGZgYG9g4D/AIP+Awf4DQ/0Phv9/GDAAUBAoBVQAVAZUDNQC1AgAn5gN8xIbpEwAAAAASUVORK5CYII=);
  background-size: 7px 11px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: #fff;
  // Hide IE selector in IE10+
  &::-ms-expand {
    display: none;
    opacity: 0;
  }
}

input.input-large,
select.input-large {
  font-size: $input-large-font-size;
}

input.input-mini,
select.input-mini {
  height: 24px;
  font-size: $input-mini-font-size;
  padding: 2px 6px 2px;
}

select.input-mini {
  padding-right: 25px
}

// IE9 specific hack to hide our selector and show the native selector
// since there's no way to hide the native selector in IE9
@media all and (min-width:0\0) and (min-resolution: .001dpcm)
{
  select,
  select.input-mini,
  select.input-large {
    background-image: none;
    padding-right: 10px;
  }

  select.input-mini {
    padding-right: 6px;
  }
}

input.input-block {
  display: block;
  width: 100%;
}

input:focus,
select:focus,
textarea:focus {
  border-color: darken($input-focus-color, 10%);
  box-shadow: 0 0 4px $input-focus-color;
  z-index: z-index('input-focus');
}

form label {
  color: $gray-700;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

fieldset + fieldset {
  margin-top: 2em;
}

fieldset legend {
  border-bottom: 1px solid $gray-100;
  color: $gray-900;
  font-weight: 100;
  display: block;
  width: 100%;
  @extend %h5;
  margin-bottom: 1em;
}

input::placeholder {
  color: $gray-300;
}

// Form layouts
.grid {

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=tel],
  input[type=url],
  input[type=date],
  input[type=search],
  input[type=datetime],
  input[type=time],
  input[type=date],
  select,
  textarea {
    width: 100%;
  }

  label {
    display: block;
  }

}

form .grid {
  vertical-align: bottom;
}

.form-horizontal .control-group {

  > label {
    text-align: right;
    width: 9em;
    margin-right: 1em;
    float: left;
    padding: 5px 0;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
  }

  .controls {
    margin-left: 10em;
  }

  .controls > .grid {
    vertical-align: middle;
  }

  .controls > label {
    display: block;
    vertical-align: middle;
    padding: 5px 0;
  }

  .btn-group {
    display: inline-block;
    vertical-align: middle;
  }

  + .control-group {
    margin-top: 1em;
    clear: left;
  }

}

.form-actions {
  margin-top: 2em;
  text-align: right;
}

// Input group + add-ons
.input-group {

  display: table;
  border-collapse: separate;
  position: relative;

  input {
    display: table-cell;
    float: left;
  }

  .add-on,
  .add-on-btn {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
  }

  .add-on {
    color: $gray-500;
    text-shadow: -1px 0 #fff;
    border-radius: 3px;
    font-size: $input-font-size;
    padding: 5px 10px;
    background-color: $gray-50;
    border: 1px solid $gray-100;
  }

  .add-on:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  .add-on + input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  input:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .add-on:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }

  input:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: -1px;
  }

  .add-on-btn:last-child .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }

  + .input-group {
    margin-left: .5em;
  }

}

@media (max-width: $form-horizontal-breakpoint) {

  .form-horizontal .control-group {

    > label {
      display: block;
      position: relative;
      float: none;
      width: auto;
      padding-bottom: 2px;
      text-align: left;
    }

    .controls {
      margin-left: 0;
    }

    input {
      width: 100%;
    }

  }

}