$grid-gutter: 10px !default;
$grid-columns: 12 !default;

// Grids
// ----------------------------------------------

@mixin grid() {
  display: block;
  padding: 0;
  margin: 0 (-.5 * $grid-gutter);
  font-size: 0; // remove whitespace between elements
  vertical-align: top;
}

@mixin col($width: 1) {
  font-size: 1rem; // restore the base font-size to the column
  display: inline-block;
  width: percentage($width);
  padding: 0 (.5 * $grid-gutter);
  vertical-align: inherit;
  text-align: left;
}

.grid {
  @include grid();

  [class*=col-] {
    @include col();
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: percentage($i/$grid-columns);
    }
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  &.top {
    vertical-align: top;
  }

  &.middle {
    vertical-align: middle;
  }

  &.bottom {
    vertical-align: bottom;
  }

}

// Grid layouts for each breakpoint
@each $breakpoint in map-keys($responsive-breakpoints) {
  @media (min-width: map-get($responsive-breakpoints, $breakpoint)) {
    @for $i from 1 through $grid-columns {
      .grid .col-#{$breakpoint}-#{$i} {
        width: percentage($i/$grid-columns);
      }
    }
  }
}
