svg {
  fill: #000;
}

.icons-48 {
  margin-bottom: 1em;
}

.icons-16 svg {
  height: 16px;
  width: 16px;
}

.icons-24 svg {
  height: 24px;
  width: 24px;
}

.icons-48 svg {
  height: 48px;
  width: 48px;
}
