$container-width: 1200px !default;
$container-padding: 2em !default;

// Layouts
// ----------------------------------------------

.container {
  width: $container-width;
  padding: 0 $container-padding;
  margin: 0 auto;
}

@media(max-width: $container-width) {
  .container {
    width: 100%;
  }
}