$table-border-color: $secondary-200 !default;
$table-header-color: $secondary-100 !default;
$table-background-color: $secondary-000 !default;

// Tables
// ----------------------------------------------

.table {
  width: 100%;
  max-width: 100%;
}

.table.table-bordered {
  border-radius: 3px;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid $table-border-color;
}

.table.table-fixed {
  table-layout: fixed;
}

.table td,
.table th {
  text-align: left;
}

.table {

  > thead > tr {
    td,
    th {
      background-color: $table-header-color;
      padding: 0.8em 1em;
      vertical-align: bottom;
    }
  }

  > tbody > tr {
    td,
    th {
      border-top: 1px solid $table-border-color;
      padding: 0.75em 1em;
      vertical-align: top;
    }
  }

  &.table-hover > tbody > tr:hover {
    td,
    th {
      background-color: $table-background-color;
    }
  }

  &.table-condensed > tbody > tr,
  &.table-condensed > thead > tr {
    td,
    th {
      padding: .25em .5em;
    }
  }

}