$base-font-size: 14px !default;
$base-font-color: #000 !default;
$base-line-height: 1.5 !default;
$base-font-weight: normal !default;
$base-font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;

// Base typography
// ----------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

body {
  font-weight: $base-font-weight;
}

b,
strong {
  font-weight: 700;
}

// Create placeholder selectors
%h1 { font-size: round(2.5 * $base-font-size); }     // 35px
%h2 { font-size: round(2 * $base-font-size); }       // 28px
%h3 { font-size: round(1.65 * $base-font-size); }    // 23px
%h4 { font-size: round(1.42 * $base-font-size); }    // 20px
%h5 { font-size: round(1.28 * $base-font-size); }    // 18px
%h6 { font-size: round($base-font-size); }           // 14px

h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }
h6 { @extend %h6; }

// Secondary
.secondary {
  color: $gray-300;
  font-weight: 300;
}