.btn {
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  font-weight: 400;
  padding: 5px 10px;
  transition: background-color ease-in-out .1s;
}

.btn:hover {
  background-color: $gray-100;
}

.btn.active,
.btn:active {
  background-color: #fff;
  line-height: 20px;
}

.btn-primary:hover {
  box-shadow: none;
}

.btn-full {
  border-radius: 0;
  margin-top: .5em;
}

.btn:disabled,
.btn.disabled {
  border-color: $gray-100;
  background-color: $gray-50;
  color: $gray-300 !important;
}

.btn-primary:disabled,
.btn-primary.disabled,
.btn-primary:disabled:hover,
.btn-primary.disabled:hover  {
  @extend .btn-primary:disabled;
  color: #fff !important;
  box-shadow: none !important;
}

.btn-inverted.btn-link {
  border: none;
}

.btn-inverted,
.btn-inverted:hover,
.btn-inverted:active,
.btn-inverted:focus {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.btn-inverted:focus {
  border-color: #fff;
  box-shadow: 0 0 6px #fff;
}

.btn-inverted:hover {
  background-color: rgba(255, 255, 255, .25);
}

.btn-inverted:disabled,
.btn-inverted.disabled {
  color: rgba(255, 255, 255, .3) !important;
  border-color: rgba(255, 255, 255, .3) !important;
  background-color: transparent !important;
}

.btn-mini {
  padding: 2px 6px 2px;
}

.btn-mini.btn-link {
  font-size: 12px;
  padding: 2px 6px 2px;
}

.btn-mini.btn-link:hover {
  text-decoration: none;
}