.promotion {
  position: relative;
}

.promotion--tagline {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.promotion--color-block {
  top: 50%;
  bottom: auto;
  text-align: center;
  transform: translateY(-50%);
  color: transparent;
}

.promotion--tagline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: currentColor;
  opacity: .8;
}

.promotion--image {
  display: block;
  width: 100%;
}

.promotion--text {
  padding: .5em;
  position: relative;
  z-index: 2;
  color: #fff;
}

.promotion--pending {
  display: block;
  width: 100%;
  padding: 0;
  padding-bottom: (2/3) * 100%; // match the same aspect ratio of the promotional images
}