// Link Colors

a {
  color: theme-color($theme-color-primary, 'light');
}

a:hover {
  color: theme-color($theme-color-primary, 'medium');
}

// Text Selection

::-moz-selection {
  background: lighten(theme-color($theme-color-primary, 'light'), 35%);
}

::selection {
  background: lighten(theme-color($theme-color-primary, 'light'), 35%);
}

// Forms

input:focus,
select:focus,
textarea:focus {
  border-color: theme-color($theme-color-primary, 'light');
}

// Static Theme Colors

.theme--primary-dark {
  color: theme-color($theme-color-primary, 'dark');
}

.theme--primary-med {
  color: theme-color($theme-color-primary, 'medium');
}

.theme--primary-light {
  color: theme-color($theme-color-primary, 'light');
}

.theme--secondary-dark {
  color: theme-color($theme-color-secondary, 'dark');
}

.theme--secondary-med {
  color: theme-color($theme-color-secondary, 'medium');
}

.theme--secondary-light {
  color: theme-color($theme-color-secondary, 'light');
}

// Dropdown Colors

.dropdown .dropdown-menu-item:hover,
.dropdown .dropdown-menu-item:focus {
  background-color: theme-color($theme-color-primary, 'light');
  color: #fff;
}

// Button Colors

.btn  {
  border: 1px solid theme-color($theme-color-primary, 'light');
}

.btn,
a.btn,
.btn-link,
.btn:hover,
.btn-mini.btn-link,
.btn-mini.btn-link:hover, {
  color: theme-color($theme-color-primary, 'light');
  border: 1px solid theme-color($theme-color-primary, 'light');
}

.btn-inverted,
.btn-inverted:hover,
.btn-inverted:focus,
.btn-inverted:active {
  color: #fff;
  border-color: #fff;
}

.btn:active,
.btn.active,
.btn:active:focus,
.btn.active:focus {
  border: 1px solid theme-color($theme-color-primary, 'light');
}

.btn:focus {
  border: 1px solid theme-color($theme-color-primary, 'light');
  box-shadow: none;
}

.btn-primary {
  background-color: theme-color($theme-color-primary, 'light');
  border: 1px solid theme-color($theme-color-primary, 'light');
  color: #fff;
}

a.btn-primary,
a.btn-primary:hover,
.btn-primary:hover {
  color: #fff;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary.active:focus {
  border: 1px solid theme-color($theme-color-primary, 'light');
  background-color: theme-color($theme-color-primary, 'light');
}

.btn-primary:hover {
  border: 1px solid theme-color($theme-color-primary, 'medium');
  background-color: theme-color($theme-color-primary, 'medium');
}

.btn-primary:disabled,
.btn-primary.disabled,
.btn-primary:disabled:hover,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus {
  border: 1px solid lighten(theme-color($theme-color-primary, 'light'), 30%);
  background-color: lighten(theme-color($theme-color-primary, 'light'), 30%);
}

.btn-inverted:active,
.btn-inverted:focus {
  border-color: #fff;
  box-shadow: 0 0 6px #fff;
}

// Cards

.card--title {
  color: theme-color($theme-color-secondary, 'medium');
}

// Calendar

.calendar-week--active {
  background-color: theme-color($theme-color-secondary, 'medium');
}

// Dropdowns

.dropdown-trigger {
  color: theme-color($theme-color-primary, 'dark');
}

.dropdown-trigger .caret {
  border-top-color: theme-color($theme-color-primary, 'dark');
}

// Modal Backdrops

.fullscreen-modal-backdrop {
  background-color: rgba(theme-color($theme-color-primary, 'medium'), .9);
}

.has-backdrop-filter .fullscreen-modal-backdrop {
  background-color: rgba(theme-color($theme-color-primary, 'medium'), .7);
}
