.alert {
  padding: .6em .8em;
}

.alert.alert-success {
  background-color: lighten($key-lime, 30%);
  color: darken($key-lime, 20%);
  border-left: 5px solid $key-lime;
}

.alert.alert-error {
  background-color: lighten($red-velvet, 32%);
  color: darken($red-velvet, 15%);
  border-left: 5px solid $red-velvet;
}

.alert.alert-info {
  background-color: lighten($cotton-candy, 15%);
  color: darken($cotton-candy, 35%);
  border-left: 5px solid $cotton-candy;
}