code {
  font-family: "Lucida Sans Typewriter", "Lucide Console", monospace;
  background-color: lighten($cotton-candy, 16.5%);
  border: 1px solid lighten($cotton-candy, 10%);
  color: darken($cotton-candy, 50%);
  padding: 1px 4px;
  border-radius: 3px;
  font-size: $base-font-size - 2px;
}

.example {
  border: 1px solid $secondary-100;
  padding: 1em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}

.example + pre {
  margin-top: 0;
  code {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }
}

pre {

  & > code {
    display: block;
    overflow-y: auto;
    background-color: $secondary-000;
    border: 1px solid $secondary-100;
    padding: 1em;
    font-size: 12px;
    line-height: 1.6;
  }

  .variable,
  .attribute,
  .tag,
  .regexp,
  .lang-html .doctype,
  .lang-css .pseudo {
    color: #c82829;
  }

  .lang-css .id,
  .lang-css .class {
    color: #3da12b;
  }

  .number,
  .preprocessor,
  .built_in,
  .literal,
  .params,
  .constant {
    color: #f5871f;
  }

  .string,
  .inheritance,
  .header {
    color: #718c00;
  }

  .value {
    color: #333;
  }

  .comment {
    color: #999;
  }

  .lang-css .hexcolor {
    color: #3e999f;
  }

  .function,
  .lang-javascript .title,
  .lang-coffeescript .title {
    color: #4271ae;
  }

  .keyword,
  .lang-javascript .function {
    color: #8959a8;
  }

}
