@import '../mx-themes/theme-colors';
@import '../colors';

$color: theme-color('ymca-blue', 'medium');
$font: Verdana, Geneva, sans-serif;
$logo: '../images/ymca-blue-purple.svg';
$logo-large-width: 93px;
$logo-large-height: 71px;
$logo-medium-width: 75px;
$logo-medium-height: 57px;
$logo-small-width: 65px;
$logo-small-height: 50px;
$footer-color: #4a4a4a;

@import 'client-templates';
