$red-velvet:     #ee264e;
$banana-pudding: #efad1c;
$key-lime:       #b3ba5a;
$cotton-candy:   #a5dbd8;
$dark-gray:      #6d6d6d;

.red-velvet {
  background-color: $red-velvet;
}

.cotton-candy {
  background-color: $cotton-candy;
}

.banana-pudding {
  background-color: $banana-pudding;
}

.key-lime {
  background-color: $key-lime;
}

.dark-gray {
  background-color: $dark-gray;
}