$alert-types: (
  'success': (
    body: $primary-success-000,
    text: $primary-success-600,
    border: $primary-success-200
  ),
  'error': (
    body: $primary-danger-000,
    text: $primary-danger-600,
    border: $primary-danger-200
  ),
  'info': (
    body: $primary-default-000,
    text: $primary-default-600,
    border: $primary-default-200
  ),
  'warning': (
    body: $primary-warning-000,
    text: $primary-warning-600,
    border: $primary-warning-200
  )
);

// Alerts
// ----------------------------------------------

.alert {
  padding: 8px;
  clear: both;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;

  + .alert {
    margin-top: 5px;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

@each $type, $value in $alert-types {
  .alert.alert-#{$type} {
    background-color: map-get($value, 'body');
    color: map-get($value, 'text');
    border: 1px solid map-get($value, 'border');
  }
}
