$alert-success: (
  body: #f0f2de,
  text: #707531,
  border: #d9ddad
);

$alert-error: (
  body: #fcd4dc,
  text: #9a0c28,
  border: #f793a7
);

$alert-info: (
  body: #edf8f8,
  text: #42a59f,
  border: #d2edec
);

$alert-warning: (
  body: #fcefd2,
  text: #966a0b,
  border: #f7d68e
);

// Alerts
// ----------------------------------------------

.alert {
  padding: .6em .8em;
  clear: both;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.alert + .alert {
  margin-top: 5px;
}

.alert p:first-child {
  margin-top: 0;
}

.alert p:last-child {
  margin-bottom: 0;
}

@mixin alert($type) {
  background-color: map-get($type, 'body');
  color: map-get($type, 'text');
  border-left: 5px solid map-get($type, 'border');
}

.alert.alert-success {
  @include alert($alert-success);
}

.alert.alert-error {
  @include alert($alert-error);
}

.alert.alert-info {
  @include alert($alert-info);
}

.alert.alert-warning {
  @include alert($alert-warning);
}
