$btn-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$btn-color: $secondary-000 !default;
$btn-border-color: $secondary-300 !default;
$btn-text-color: $secondary-900 !default;
//$btn-primary-color: $primary !default;
$btn-primary-text-color: $text-light !default;
//$btn-danger-color: $danger !default;
$btn-font-size: 13px !default;
$btn-mini-font-size: 12px !default;
$btn-focus-color: $focus-color !default;
$btn-font-weight: 500;
$btn-height: 32px;

$btn-colors: (
  "primary": $primary,
  "danger": $danger
);

// Buttons
// ----------------------------------------------

// Btn default
.btn {
  position: relative;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  border: 1px solid $btn-border-color;
  border-radius: .2em;
  box-shadow: 0 -1px 0 $btn-border-color inset;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  font-family: $btn-font-family;
  line-height: 20px;
  height: $btn-height;
  color: $btn-text-color;
  text-decoration: none;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  outline: none;
  padding: 4px 10px 6px;
  background-color: $btn-color;
  transition: ease-in-out .1s background-color, ease-in-out .1s border;

  &:focus,
  &.focus {
    box-shadow: 0 -1px 0 $secondary-300 inset, 0 0 0 2px $btn-focus-color;
    z-index: z-index('btn-focus');
  }

  &:hover {
    border-color: darken($btn-border-color, 20%);
    background-color: darken($btn-color, 10%);
    text-decoration: none;
  }

  &.active,
  &:active,
  &.active:focus,
  &:active:focus {
    border-color: darken($btn-color, 20%);
    background-color: darken($btn-color, 10%);
    box-shadow: none;
    background-image: none;
    line-height: 19px;
    padding: 5px 10px;
  }

  &:disabled,
  &.disabled,
  &:disabled:hover,
  &.disabled:hover {
    cursor: not-allowed;
    box-shadow: none !important;
    background-image: none;
    background-color: $btn-color;
    text-shadow: none;
    border-color: inherit;
    padding: 5px 10px !important;
    color: rgba($btn-text-color, .3);
    vertical-align: top;
  }
}

// overrides extra padding on button elements in Firefox
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@each $color, $value in $btn-colors{
  .btn-#{$color} {
    color: $btn-primary-text-color;
    background-color: $value;
    border-color: darken($value, 10%);
    box-shadow: 0 -1px 0 darken($value, 10%) inset;
  
    &:hover {
      background-color: darken($value, 10%);
      border-color: darken($value, 20%);
      box-shadow: 0 -1px 0 darken($value, 20%) inset;
    }
  
    &:active,
    &.active,
    &:active:focus,
    &.active:focus {
      background-color: darken($value, 10%);
      border-color: darken($value, 20%);
      box-shadow: none;
    }
  
    &:focus {
      box-shadow: 0 -1px 0 darken($value, 10%) inset, 0 0 0 2px $btn-focus-color;
    }
  
    &:disabled,
    &.disabled,
    &:disabled:hover,
    &.disabled:hover {
      color: $btn-primary-text-color;
      border-color: lighten($value, 30%);
      background-color: lighten($value, 30%);
    }
  }
}

// Btn Link
.btn-link {
  &, &:hover{
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: 20px;
    padding: 4px 10px 6px;
  }

  &.active,
  &:active,
  &.active:focus,
  &:active:focus {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
  }

  &:focus{
    border-color: transparent;
    background-color: transparent;
    box-shadow: 0 -1px 0 $white inset, 0 0 0 2px $focus-color;
  }

  &:hover {
    // border-color: transparent;
    // background-color: transparent;
    // background-image: none;
    // box-shadow: none;
    // text-shadow: none;
    // font-weight: normal;
    // font-size: $base-font-size;
    // line-height: 20px;
    // padding: 4px 10px 6px;
    text-decoration: underline;
  }

  &:disabled,
  &.disabled,
  &:disabled:hover,
  &.disabled:hover {
    background-color: transparent;
    border-color: transparent;
    color: rgba($btn-text-color, .3);
    text-decoration: none;
  }

  & + .btn-link {
    padding-left: 0;
  }
}

// Btn groups
.btn-group {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0;
  vertical-align: middle;

  .btn {
    font-size: $btn-font-size;
    display: inline-block;
  }

  .btn-mini,
  .btn-mini:focus {
    font-size: $btn-mini-font-size;
    padding: 1px 6px 3px;
  }

  .btn ~ .btn,
  .btn-group ~ .btn-group,
  .btn ~ .btn-group,
  .btn-group ~ .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }

  > .btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
  }

  + .btn-group {
    margin-left: 5px;
  }

  > .btn:hover,
  > .btn:active,
  > .btn:focus {
    z-index: 2;
  }

  // Button groups with input checkboxes and radio buttons
  > input[type=checkbox],
  > input[type=radio] {
    opacity: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    position: absolute;

    &:focus + label {
      @extend .btn:focus;
    }

    &:checked + label {
      @extend .btn.active;
    }
  }
}

// Btn mini
.btn-mini {
  font-size: $btn-mini-font-size;
  height: 26px;
  line-height: 19px;
  padding: 1px 6px 3px;

  &:hover,
  &.active,
  &:active,
  &:focus,
  &.disabled,
  &:disabled,
  &.disabled:hover,
  &:disabled:hover {
    padding: 1px 6px 3px !important;
  }
}

// Btn block
.btn-block {
  display: block;
  width: 100%;

  + .btn-block {
    margin-top: 1em;
  
    &.btn-mini {
      padding: 1px 6px 3px;
    }
  }
}