$btn-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$btn-color: #F5F5F5 !default;
$btn-text-color: $gray-900 !default;
$btn-primary-color: #0275d8 !default;
$btn-primary-text-color: #fff !default;
$btn-danger-color: #D9534F !default;
$btn-font-size: 13px !default;
$btn-mini-font-size: 12px !default;
$btn-focus-color: #025AA5 !default;

$btn-font-weight: 600;
$btn-height: 32px;

// Buttons
// ----------------------------------------------

// Btn default
.btn {
  position: relative;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: .2em;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.2) inset;
  font-size: $btn-font-size;
  font-weight: 500;
  font-family: $btn-font-family;
  line-height: 20px;
  height: $btn-height;
  color: $btn-text-color;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  padding: 4px 10px 6px;
  background-color: $btn-color;
  transition: ease-in-out .1s background-color, ease-in-out .1s border;
}

.btn:focus {
  outline: -webkit-focus-ring-color auto 3px;
}

.btn:hover {
  border-color: darken($btn-color, 20%);
  background-color: darken($btn-color, 10%);
}

.btn:active,
.btn.active {
  border-color: rgba(0,0,0,0.4);
  background-color: darken($btn-color, 10%);
  box-shadow: none;
  background-image: none;
  line-height: 20px;
  padding: 5px 10px;
}

.btn:disabled,
.btn.disabled {
  cursor: default;
  box-shadow: none !important;
  background-image: none;
  background-color: $btn-color;
  text-shadow: none;
  border-color: $btn-color;
  padding: 5px 10px !important;
  color: rgba($btn-text-color, .3);
}

// overrides extra padding on button elements in Firefox
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

// Btn primary
.btn-primary {
  color: #fff;
  background-color: $btn-primary-color;
  border-color: rgba(0,0,0,0.3);
}

.btn-primary:hover {
  color: #fff;
  background-color: darken($btn-primary-color, 10%);
  border-color: darken($btn-primary-color, 20%);
}

.btn-primary:active,
.btn-primary.active {
  background-color: darken($btn-primary-color, 10%);
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: #fff;
  background-color: lighten($btn-primary-color, 20%);
  opacity: .6;
}

// Btn danger
.btn-danger {
  color: #fff;
  background: $btn-danger-color;
}

.btn-danger:active,
.btn-danger.active,
.btn-danger:hover {
  color: #fff;
  background-color: darken($btn-danger-color, 10%);
}

.btn-danger.disabled,
.btn-danger:disabled {
  cursor: default;
  box-shadow: none;
  background-image: none;
  background-color: lighten($btn-danger-color, 20%);
  opacity: .6;
  color: #fff;
}


// Btn Link
.btn-link,
.btn-link:hover {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  font-weight: normal;
  font-size: $base-font-size;
  color: $btn-primary-color;
  line-height: 20px;
  padding: 5px 10px;
}

.btn-link.active,
.btn-link:active,
.btn-link.active:focus,
.btn-link:active:focus {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}

.btn-link:hover {
  color: darken($btn-primary-color, 10%);
  text-decoration: underline;
}

.btn-link:disabled,
.btn-link.disabled,
.btn-link:disabled:hover,
.btn-link.disabled:hover {
  background-color: transparent;
  border-color: transparent;
  color: rgba($btn-text-color, .3);
  text-decoration: none;
}

.btn-link + .btn-link {
  padding-left: 0;
}

// Btn groups
.btn-group {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0;
  vertical-align: middle;

  .btn {
    font-size: $btn-font-size;
    display: inline-block;
  }

  .btn-mini {
    font-size: $btn-mini-font-size;
  }

  .btn ~ .btn,
  .btn-group ~ .btn-group,
  .btn ~ .btn-group,
  .btn-group ~ .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }

  > .btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-group:not(:first-child):not(:last-child) > .btn, {
    border-radius: 0;
  }

  + .btn-group {
    margin-left: 5px;
  }

  > .btn:hover,
  > .btn:active,
  > .btn:focus {
    z-index: 2;
  }

}

// Button groups with input checkboxes and radio buttons
.btn-group {

  > input[type=checkbox],
  > input[type=radio] {
    opacity: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    position: absolute;

    &:focus + label {
      @extend .btn:focus;
    }

    &:checked + label {
      @extend .btn.active;
    }

    &:checked:focus + label {
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 0 4px $btn-focus-color;
    }
  }

}

// Btn mini
.btn-mini {
  box-shadow: 0 -1px 0 #c2c2c2 inset;
  font-size: $btn-mini-font-size;
  height: 26px;
  line-height: 19px;
  padding: 1px 6px 3px;
}

// Btn block
.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 1em;
}
