$dropdown-font-size: 12px !default;
$dropdown-font-color: $gray-700 !default;
$dropdown-font-hover-color: #000 !default;
$dropdown-hover-color: lighten($cotton-candy, 15%) !default;

// Dropdown menus
// ----------------------------------------------

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid $gray-900;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown,
.dropup {
  position: relative;
  display: inline-block;
}

.dropup .caret {
  border-top-width: 0;
  border-bottom: 4px solid $gray-900;
}

.open > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  border-radius: 4px;
  border: 1px solid $gray-100;
  color: $dropdown-font-color;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
  background-color: #fff;
  background-clip: padding-box;
  min-width: 160px;
  margin-top: 1px;
  float: left;
  padding: 5px 0;
  list-style-type: none;
  font-size: $dropdown-font-size;
  z-index: z-index('dropdown-menu');

  a,
  .dropdown-menu-item {
    display: block;
    overflow: hidden;
    padding: .3em 10px;
    color: $dropdown-font-color;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }

  a:hover,
  a:focus,
  .dropdown-menu-item:hover,
  .dropdown-menu-item:focus {
    background-color: $dropdown-hover-color;
    color: $dropdown-font-hover-color;
  }

  .divider {
    background-color: $gray-100;
    height: 1px;
    margin: 5px 0;
  }

  &.right {
    right: 0;
  }
}

.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

// Dropdown caret
.dropdown-caret {
  display: none;
  position: absolute;
  right: 24px;
  top: 100%;
  margin-top: 1px;
  z-index: (z-index('dropdown-menu') + 1);
}

.open .dropdown-caret {
  display: block;
}

.dropdown-caret:before,
.dropdown-caret:after {
  content: "";
  position: absolute;
  bottom: 0;
}

.dropdown-caret:before {
  border-bottom: 8px solid $gray-100;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.dropdown-caret:after {
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  left: 1px;
  bottom: -1px;
}

.dropup .dropdown-caret {
  top: 6px;

  &:before {
    border-bottom: none;
    border-top: 8px solid $gray-100;
    bottom: 0;
  }

  &:after {
    border-bottom: none;
    border-top: 7px solid #fff;
    bottom: 2px;
  }
}

// Backdrop
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: z-index('backdrop');
}