// $label-color: $text-light !default;

$label-colors: (
  "default": (
    "background": $secondary-000,
    "border": $secondary-200,
    "text": $secondary-900
  ),
  "green": (
    "background": $primary-success-000,
    "border": $primary-success-200,
    "text": $primary-success-600
  ),
  "blue": (
    "background": $primary-default-000,
    "border": $primary-default-200,
    "text": $primary-default-600
  ),
  "orange": (
    "background": $primary-warning-000,
    "border": $primary-warning-200,
    "text": $primary-warning-600
  ),
  "red": (
    "background": $primary-danger-000,
    "border": $primary-danger-200,
    "text": $primary-danger-600
  ),
  "light": (
    "background": $background,
    "border": $secondary-200,
    "text": $secondary-900
  )
);

// Labels
// --------------------------------------------------

.label {
  @extend %lbl2;

  display: inline;
  padding: 4px 8px;
  text-align: center;
  border-radius: 99px;
  text-shadow: none;
}

.label-uppercase {
  text-transform: uppercase;
}

// Colors
// Contextual variations (linked labels get darker on :hover)

@each $color, $value in $label-colors {
  .label-#{$color} {
    background-color: map-get($value, 'background');
    border: 1px solid map-get($value, 'border');
    color: map-get($value, 'text');
  }
}