$label-color: $text-light !default;

$label-colors: (
  "default": $secondary-500,
  "green": $success,
  "blue": $primary,
  "orange": $banana-pudding,
  "red": $danger
);

// Labels
// --------------------------------------------------

.label {
  display: inline;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  color: $label-color;
  text-align: center;
  text-shadow: none;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;

  &:empty {
    display: none;
  }

  .btn & {
    position: relative;
    top: -1px;
  }
}

a.label {
  &:hover,
  &:focus {
    color: $label-color;
    text-decoration: none;
    cursor: pointer;
  }
}

.label-uppercase {
  text-transform: uppercase;
}

// Colors
// Contextual variations (linked labels get darker on :hover)

@each $color, $value in $label-colors {
  .label-#{$color} {
    background-color: $value;

    &[href] {
      &:hover,
      &:focus {
        background-color: darken($value, 10%);
      }
    }
  }
}

.label-light {
  background-color: $background;

  &[href] {
    &:hover,
    &:focus {
      background-color: darken($background, 10%);
    }
  }
  color: $text-dark; 
  border: 1px solid $secondary-variant;
}
