$list-border-color: $secondary-200;
$list-secondary-text: $secondary-300;
$list-highlight-background: $secondary-000;
$list-icon-color: $secondary-900;

// Lists
// ----------------------------------------------

.list {

  list-style-type: none;
  overflow: visible;
  margin-top: 1em;

  small {
    color: $list-secondary-text;
  }

  .list-item {
    display: block;
    padding: .75em 1em;
    border-bottom: 1px solid $list-border-color;
    @extend .cf;
  }

  a.list-item {
    cursor: pointer;
    color: $text-dark;
    text-decoration: none;
  }

  a.list-item:hover {
    background-color: $list-highlight-background;
  }

  a.list-item:focus {
    box-shadow: none;
    outline: none;
  }

  .list-icons {
    color: $list-secondary-text;
    &:hover {
      color: $list-icon-color;
    }
  }

  a:hover .list-icons {
    color: $list-icon-color;
  }

}

.list-header {
  margin-top: 1em;
  padding: .75em 1em;
  font-weight: 700;
  background-color: $list-highlight-background;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid $list-border-color;
}

.list-header-bordered {
  border: 1px solid $list-border-color;
}

.list-header:first-child,
.list:first-child {
  margin-top: 0;
}

.list-header + .list {
  margin-top: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-bordered {
  border-radius: 3px;
  border-top: 1px solid $list-border-color;
  border-left: 1px solid $list-border-color;
  border-right: 1px solid $list-border-color;
}