$loader-size: .5em;
$loader-position: .75em;
$loader-animation-position: .4em;

.loader {
  color: $secondary-300;
  width: 2em;
  height: 1em;
  font-size: 20px;
  margin: 0 auto;
  background:
    radial-gradient(closest-side, currentColor calc(100% - 1px), transparent) 0 0,
    radial-gradient(closest-side, currentColor calc(100% - 1px), transparent) $loader-position 0,
    radial-gradient(closest-side, currentColor calc(100% - 1px), transparent) ($loader-position * 2) 0;
  background-repeat: no-repeat;
  background-size: $loader-size $loader-size, $loader-size $loader-size, $loader-size $loader-size;
  animation-mode: forwards;
  animation: loader 1s infinite;
}

@keyframes loader {
  10% {
    background-position: 0 ($loader-animation-position * .5), $loader-position 0, ($loader-position * 2) 0;
  }

  20% {
    background-position: 0 $loader-animation-position, $loader-position ($loader-animation-position * .5), ($loader-position * 2) 0;
  }

  30% {
    background-position: 0 ($loader-animation-position * .5), $loader-position $loader-animation-position, ($loader-position * 2) ($loader-animation-position * .5);
  }

  40% {
    background-position: 0 0, $loader-position ($loader-animation-position * .5), ($loader-position * 2) $loader-animation-position;
  }

  50% {
    background-position: 0 0, $loader-position 0, ($loader-position * 2) ($loader-animation-position * .5);
  }

  60% {
    background-position: 0 0, $loader-position 0, ($loader-position * 2) 0;
  }
}
