.loader {
  &,
  &:before,
  &:after {
    position: relative;
    margin: 0 auto;
    font-size: 10px;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    box-shadow: 0 1em $gray-300;
    animation-mode: forwards;
    animation: pulse 1s infinite ease-in-out;
  }
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
}

.loader:before {
  transform: translateX(-1.5em);
  animation-delay: 0;
}

.loader {
  animation-delay: .1s;
}

.loader:after {
  transform: translateX(1.5em);
  animation-delay: .2s;
}

@keyframes pulse {
  25% {
    box-shadow: 0 1.65em $gray-300;
  }

  50% {
    box-shadow: 0 1em $gray-300;
  }
}
