$modal-border-color: $secondary-200;
$modal-footer-background-color: $secondary-000;
$modal-backdrop-color: rgba($secondary-600, .6);
$modal-background-color: $background;
$modal-close-color: $secondary-400;
$modal-close-hover: $text-dark;

// Modals
// ----------------------------------------------

.modal {
  opacity: 0;
  display: none;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 1rem;
  border: 1px solid $modal-border-color;
  background-color: $modal-background-color;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: z-index('modal');
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transition: all ease-in-out .3s;
  transform: translateX(-50%) translateY(-50%);
  transition-property: opacity, transform;
}

.modal--open {
  display: block;
  opacity: 1;
}

.modal:focus {
  outline: none;
}

.close {
  cursor: pointer;
  color: $modal-close-color;

  &:hover {
    color: $modal-close-hover;
  }

  &:before {
    content: "×";
    font-size: $typography-font-size + 8px;
    line-height: 1em;
  }
}

.modal-header,
.modal-footer {
  border: 0 solid $modal-border-color;
  padding: .67rem 1rem;
  margin-right: -1rem;
  margin-left: -1rem;
}

.modal-header .close {
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  text-align: center;
  line-height: 2.25;
  padding: 0;
  border: none;
  background: none;
  color: $modal-close-color;
  margin: 0;
  &:hover {
    color: $modal-close-hover;
  }
}

.modal-header {
  border-bottom-width: 1px;
  font-weight: 500;
  margin-top: -1rem;
  padding-right: 4rem;
  @extend %h3;
}

.modal-footer {
  background-color: $modal-footer-background-color;
  border-top-width: 1px;
  margin-bottom: -1rem;
  text-align: right;
}

.modal-header + .modal-body {
  padding-top: 1rem;
}

.modal-body + .modal-footer {
  margin-top: 1rem;
}

// Modal backdrop
.modal-backdrop {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: z-index('modal-backdrop');
  background-color: $modal-backdrop-color;
}