$modal-border-color: $gray-100;
$modal-backdrop-color: rgba($gray-500, .6);

// Modals
// ----------------------------------------------

.modal {
  border-radius: 3px;
  background-clip: padding-box;
  padding: 1em;
  border: 1px solid $modal-border-color;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
  position: relative;
  z-index: z-index('modal');
  margin: 0 auto;
}

.close {
  cursor: pointer;
  color: $gray-500;

  &:hover {
    color: $gray-900;
  }

  &:before {
    content: "×";
    font-size: $base-font-size + 8px;
    line-height: 1em;
  }
}

.modal-header {
  margin-top: -1rem;
  margin-right: -1rem;
  margin-left: -1rem;
  margin-bottom: 1rem;
  padding: .5em 1rem;
  border-bottom: 1px solid $modal-border-color;
  font-weight: 700;
  font-size: 1.2em;
}

// Modal backdrop
.modal-backdrop {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: z-index('modal-backdrop');
  background-color: $modal-backdrop-color;
}