$navbar-color: $secondary-900 !default;
$navbar-accent-color: $cotton-candy !default;
$navbar-link-color: $cotton-candy !default;
$navbar-item-color: $secondary-300 !default;

// Navbar
// ----------------------------------------------

.navbar {
  overflow: visible;
  background-color: $navbar-color;
  background-image: linear-gradient(to bottom, lighten($navbar-color, 10%), darken($navbar-color, 10%));
  border-top: 5px solid $navbar-accent-color;
  height: 45px;
}

.navbar.fixed {
  position: sticky;
  z-index: z-index('navbar');
}

.navbar a {
  text-decoration: none;
}

.navbar-header {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: 200;
  display: inline-block;
  float: left;
  margin-right: 1em;

  a {
    color: $navbar-accent-color;
  }
}


.navbar .nav {

  display: inline-block;
  float: left;

  .caret {
    border-top-color: $navbar-item-color;
  }

  ul {
    overflow: visible;
  }

  a:hover .caret {
    border-top-color: $text-light;
  }

  .nav--active {
    color: $text-light;
  }

  > li {
    display: inline-block;
    float: left;
  }

  > li > a {
    color: $navbar-item-color;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 1em;
    font-size: $typography-font-size;
  }

  > li > a:hover {
    color: $text-light;
  }

  // Navbar dropdowns
  > li.dropdown.open {
    background-color: $background-dark;
  
    > a {
      color: $text-light;
    }
  
    .caret {
      border-top-color: $text-light;
    }
  }

}