$theme-colors: (
  'active': ( 
    background-color: $primary-success-000,
    border: 1px solid $primary-success-200
    ),
  'on-hold': ( 
    background-color: $primary-warning-000,
    border: 1px solid $primary-warning-200
    ),
  'prospect': ( 
    background-color: $primary-default-000,
    border: 1px solid $primary-default-200
    ),
  'danger': ( 
    background-color: $primary-danger-000,
    border: 1px solid $primary-danger-200
    ),
);

.status-flag {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 99px;
  background-color: $secondary-200;
  margin-right: 4px;
}

@each $color, $value in $theme-colors {
  .status-flag--#{$color} {
    background-color: map-get($value, 'background-color');
    border: map-get($value, 'border');
  }
}
