$on-switch-color: #4eBf5a !default;
$on-switch-text-color: #fff !default;
$off-switch-color: $gray-100 !default;
$toggle-switch-height: $btn-height !default;
$toggle-switch-width: 64px !default;;

$switch-height: $toggle-switch-height - 2px;

// Toggle Switches
// ----------------------------------------------
.toggle-switch {
  cursor: pointer;
  position: relative;
  border-radius: 16px;
  padding: 0 6px;
  display: inline-block;
  margin: 0;
  height: $toggle-switch-height;
  line-height: $toggle-switch-height;
  width: $toggle-switch-width;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;

  input[type=checkbox] {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  input[type=checkbox]:focus {
    outline: 0;
  }

  [data-on]:before,
  [data-on]:after {
    display: none;
    font-size: $base-font-size - 1px;
    color: $gray-500;
    padding-left: $toggle-switch-width + 5px;
  }

  [data-on]:after {
    content: attr(data-on);
  }

  [data-off]:before {
    content: attr(data-off);
  }

  input:not(:checked) ~ [data-on]:before,
  input:checked ~ [data-on]:after {
    display: block;
  }
}

// Off State
.toggle-switch input ~ .switch {
  position: absolute;
  height: $toggle-switch-height;
  left: 0;
  right: 0;
  border-radius: 16px;
  background-color: $off-switch-color;
  border: 1px solid darken($off-switch-color, 5%);
  transition: background-color linear .2s;
  z-index: z-index('btn-focus');
}

.toggle-switch input ~ .switch:before {
  box-shadow: none;
}

.toggle-switch input ~ .switch:after {
  content: "";
  border-radius: 16px;
  position: absolute;
  height: $switch-height;
  width: $switch-height;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  transition: all ease-out .2s;
}

// On State
.toggle-switch input:checked ~ .switch {
  background-color: $on-switch-color;
  border: 1px solid darken($on-switch-color, 5%);
}

.toggle-switch input:checked ~ .switch:after {
  transform: translateX($switch-height + 2);
}