// .typeahead,
// .tt-query,
// .tt-hint {
//   width: 396px;
//   height: 30px;
//   padding: 8px 12px;
//   font-size: 24px;
//   line-height: 30px;
//   border: 2px solid #ccc;
//   -webkit-border-radius: 8px;
//      -moz-border-radius: 8px;
//           border-radius: 8px;
//   outline: none;
// }

// .typeahead {
//   background-color: #fff;
// }

// .typeahead:focus {
//   border: 2px solid #0097cf;
// }

// .tt-query {
//   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//           box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
// }

// .tt-hint {
//   color: #999
// }

// .tt-menu {
//   width: 422px;
//   margin: 12px 0;
//   padding: 8px 0;
//   background-color: #fff;
//   border: 1px solid #ccc;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   -webkit-border-radius: 8px;
//      -moz-border-radius: 8px;
//           border-radius: 8px;
//   -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
//      -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
//           box-shadow: 0 5px 10px rgba(0,0,0,.2);
// }

// .tt-suggestion {
//   padding: 3px 20px;
//   font-size: 18px;
//   line-height: 24px;
// }

// .tt-suggestion:hover {
//   cursor: pointer;
//   color: #fff;
//   background-color: #0097cf;
// }

// .tt-suggestion.tt-cursor {
//   color: #fff;
//   background-color: #0097cf;

// }

// .tt-suggestion p {
//   margin: 0;
// }

.tt-menu.tt-open {
  @extend .dropdown-menu;
  display: block;
  font-size: $dropdown-font-size + 1px;
  max-height: 250px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

// Can't extend nested selectors, so we need to re-implement
// .dropdown-menu a styles here
.tt-suggestion {
  display: block;
  overflow: hidden;
  padding: .3em 10px;
  color: $dropdown-font-color;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.typeahead {
  width: 100%;
}

.tt-suggestion:hover,
.tt-suggestion.selected {
  background-color: $dropdown-hover-color;
  cursor: pointer;
}

input.tt-hint {
  color: $gray-300;
  z-index: 0;
}