// $tooltip-background-color: rgba($secondary-900, .9) !default;
// $tooltip-text-color: #fff !default;
// $tooltip-tail-size: 5px;

// Wells
// ----------------------------------------------

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $secondary-000;
  border: 1px solid $secondary-200;
  border-radius: 3px; 
  box-shadow: none;
}